next-env.d.ts
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/yummy.iml
.idea/inspectionProfiles/Project_Default.xml
.next/app-build-manifest.json
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
node_modules/
.next/static/media/b967158bc7d7a9fb-s.woff2
.next/static/media/c0f5ec5bbf5913b7-s.woff2
.next/static/media/d1d9458b69004127-s.woff2
.next/static/webpack/27946306b00967f8.webpack.hot-update.json
.next/static/webpack/3e49f87d66b72ed8.webpack.hot-update.json
.next/static/webpack/amp.27946306b00967f8.hot-update.js
.next/static/webpack/main.27946306b00967f8.hot-update.js
.next/static/webpack/webpack.27946306b00967f8.hot-update.js
.next/static/development/_ssgManifest.js
.next/static/media/2aaf0723e720e8b9-s.p.woff2
.next/static/media/9c4f34569c9b36ca-s.woff2
.next/static/media/ae9ae6716d4f8bf8-s.woff2
.next/static/media/b1db3e28af9ef94a-s.woff2
.next/static/webpack/webpack.3e49f87d66b72ed8.hot-update.js
.next/types/app/layout.ts
.next/types/app/page.ts
.vscode/settings.json
.next/static/chunks/main-app.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/app/head.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/css/_app-client_node_modules_next_font_google_target_css_path_src_app_page_tsx_import_Inter_argum-34ccc5.css
.next/static/css/_app-client_src_app_globals_css.css
.next/static/css/_app-client_src_app_page_module_css.css
.next/static/development/_buildManifest.js
.next/
