.ingredient_box {
    height: 70px;
    width: 70px;
}
.lateView_img_box{
    float: left;
    width: 100px;
}
.lateView_cont_box {
    float: left;
    width: 55%;
}
.lateView_cont_box p {
    padding-left: 10px;
    margin: 0;
}
.lateView_cont_box span {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.45);
}
.lateView_title_box {
    font-weight: 600;
    font-size: 14px;
}
.lateView_writer_box {
    padding-left: 10px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.45);
    margin: 0;
}
.mypageHeader_box p{
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
}
.mypageHeader_box {
    padding: 10px;
}
.mypageHeader_name {
    display: inline-block;
    margin-left: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    height: 48px;
    line-height: 48px;
}
.mypageCont_box {
    margin: 20px 10px;
}
.wishlist_btn_box {
   text-align: right;
}
.lateView_wish_box {
    text-align: right;

}
